.read-carousel {
  height: 1024px;
}

.read-carousel .Read-book-2 > div {
  height: 100% !important;
}
.read-carousel .Read-book-2 {
  height: 100% !important;
}

.read-carousel .MuiPaper-root {
  height: 100% !important;
}

.read-carousel .MuiPaper-root > div {
  height: 100% !important;
}

.read-carousel .large {
  line-height: 200%;
}
.read-carousel .x-large {
  line-height: 150%;
}

.read-carousel button {
  background: rgba(0, 0, 0, 0.2) !important;
}

.read-carousel .cover {
  width: 90%;
  height: auto;
}
.read-carousel .image-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 900px;
}
