.PrivateTabIndicator-colorSecondary-7 {
  background-color: black !important;
}

.MuiTab-wrapper {
  color: black;
}

.MuiButtonBase-root {
  border: black;
}

.MuiTab-root {
  max-width: 384px !important;
}

.MuiAppBar-colorPrimary {
  background-color: #e0e0e0 !important;
}
