.find-tabs .MuiTab-root {
  max-width: 384px;
}

.find-tabs .MuiTab-textColorInherit {
  color: #ce93d8;
}

.find-tabs .Mui-selected {
  color: #ab47bc;
}

.find-tabs .MuiAppBar-colorPrimary {
  background-color: transparent !important;
  box-shadow: none;
}

.find-tabs .MuiTab-wrapper {
  font-family: "RIDIBatang";
}

.find-tabs .MuiTabs-indicator {
  background-color: #ab47bc;
}
