.library-tabs .MuiTab-root {
  max-width: 384px !important;
}

.library-tabs .MuiTab-textColorInherit {
  color: #f48fb1 !important;
}

.library-tabs .Mui-selected {
  color: #ec407a !important;
}

.library-tabs .MuiAppBar-colorPrimary {
  background-color: #fce4ec !important;
  box-shadow: none;
}
