.mypage .MuiFormLabel-root.Mui-focused {
  color: #f48fb1 !important;
}

.mypage .MuiInput-underline:after {
  border-bottom: 2px solid #f48fb1 !important;
}

.mypage .MuiFormControl-root {
  width: "540px";
}
