.search {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fce4ec;
}

.search h1 {
  text-align: center;
}

.search h2 {
  text-align: center;
}
